<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div>
        <a class="btn btn-success button-fixed"
           th:href="@{/dish/edit/}">
            <i class="fa-solid fa-plus"></i> Добавить
        </a>
        <a class="btn btn-primary button-fixed"
           th:href="@{/dish/add/}">
            <i class="fa-solid fa-plus"></i> Добавить ингредиенты в блюда
        </a>
        <a class="btn btn-danger button-fixed"
           th:href="@{/dish/rem/}">
            <i class="fa fa-trash"></i> Удалить ингредиенты из блюд
        </a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Id</th>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dish, iterator: ${dishes}">
                <th scope="row" th:text="${iterator.index} + 1"/>
                <td th:text="${dish.id}"/>
                <td th:text="${dish.Name}" style="width: 60%"/>
                <td th:text="${dish.Price}" style="width: 60%"/>
                <td style="width: 10%">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-warning button-fixed button-sm"
                           th:href="@{/dish/edit/{id}(id=${dish.id})}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                        </a>
                        <button type="button" class="btn btn-danger button-fixed button-sm"
                                th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${dish.id}').click()|">
                            <i class="fa fa-trash" aria-hidden="true"></i> Удалить
                        </button>
                    </div>
                    <form th:action="@{/dish/delete/{id}(id=${dish.id})}" method="post">
                        <button th:id="'remove-' + ${dish.id}" type="submit" style="display: none">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>